@use 'styles' as *;

.completed {
  text-decoration: line-through;
  color: $light-gray-300;
}

.darkMode {
  background-color: $dark-blue-200;
}

.container {
  display: flex;
  align-items: center;
  font-size: 0.6667rem;
  letter-spacing: -0.0094rem;
  color: $light-gray-500;
  background-color: $white;
  border-bottom: 0.0556rem solid $light-gray-300;
  padding: $padding;
  border-radius: $border-radius;
}

.title {
  flex: 1;
}

.options {
  button {
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
  }
}
